
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Agustina Regular";
    /* outline: 1px solid red; */
    /* overflow-x: hidden; */
}



/* .content
{
    height: 100vh;
    background-color: white;
} */

.navbar1
{
    /* background-color: rgb(169, 149, 185) ; */
    background-color: rgb(232, 232, 232) ;
    width: 100%;
    position: fixed;
    z-index: 9999;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(98, 97, 97, 0.19);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.navbar1 button
{
    background-color: transparent;
    border: none;
}



.navbar-logo
{
    
    color:rgb(125, 89, 125); 
    font-family: "Agustina Regular";
    font-optical-sizing:inherit;
    font-weight: 500;
    font-style:italic;
    text-shadow: 2px 2px 2px rgb(165, 157, 165);
}



li
{
    display: inline-block;
    
}


ul li a
{
    text-decoration: none;
    color: rgb(135, 101, 135);
    border: transparent solid 3px;
    /* border-radius: 5px; */
    transition: 0.5s;
}


ul li a:hover
{
    text-decoration: none;
    color: rgb(96, 79, 96);
    /* background-color: grey; */
    border-bottom: rgb(179, 113, 165) solid 3px;
    /* border-radius: 5px; */
}

.home-card
{
    /* border-radius: 10px; */
    /* border: 2px solid transparent; */
    padding: 30px 30px 0px 30px ;
    width: 90%;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 50px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(126, 125, 128); */
}





.home-intro
{
   padding: 20px 0px 0px 0px;
   color: gray;
   width: 100%;
}

.home-intro h1
{
    padding: 5px 0px;
    /* color: rgb(167, 144, 187); */
    color:  rgb(179, 113, 165);
}

.p 
{
    padding-top: 15px;
}

.home-intro  button
{
    padding: 10px 30px;
    margin: 60px 10px 10px 0px;
    /* background-color: rgb(188, 165, 207); */
     background-color: rgb(179, 113, 165);
    border-radius: 15px ;
    border:solid 2px rgb(190, 189, 189);
    color:rgb(244, 243, 246) ;
    transition: 1s;
}

.home-intro  button:hover
{
    padding: 10px 30px;
    margin: 60px 10px 10px 0px;
   background-color: rgb(143, 143, 144);
    border-radius: 15px ;
    border:solid 2px rgb(190, 189, 189);
    color:rgb(244, 243, 246) ;
}


.home-intro  .bt-gray
{
    padding: 10px 30px;
    margin: 40px 10px 10px 0px;
    background-color: rgb(143, 143, 144);
    border-radius: 15px ;
    border:solid 2px rgb(190, 189, 189);
    color:rgb(244, 243, 246) ;
    transition: 1s;
}

.home-intro  .bt-gray:hover
{
    padding: 10px 30px;
    margin: 40px 10px 10px 0px;
     background-color: rgb(179, 113, 165);
    border-radius: 15px ;
    border:solid 2px rgb(190, 189, 189);
    color:rgb(244, 243, 246) ;
}



.home-intro button a
{
    text-decoration: none;
    color:rgb(244, 243, 246) ;
}

.home-intro-content
{
    padding-top: 30px;
}

.home-img
{
   padding-bottom: 30px;
   text-align: center;
   width: 100%;
   display: flex;
   justify-content:space-around;
}


.home-img img
{
    
    width: 330px;
    height: 330px;


    border-radius: 50%;
    border:solid 2px rgb(190, 189, 189);  
    box-shadow:  0 6px 10px 0 rgba(0, 0, 0, 0.4), 0 10px 30px 5px rgb(168, 143, 188);


    pointer-events: none; 
    user-select: none;    
   -webkit-user-drag: none;
}


/* ======================== ABOUT ================== */

.leftSide
{
    
    width: 40%;
    padding-top: 60px;
  
}

.width
{
   width: 95%;
   background-color: rgb(179, 113, 165);
}

.width-85
{
   width: 85%;
   background-color: rgb(179, 113, 165);
}

.bg-lavander
{
    background-color: rgb(179, 113, 165);
}

.rightSide
{
    
    width: 60%;
   border-left: 2px solid rgb(221, 220, 220);
  
}

.pageintro
{
   padding: 3px 0px 30px 0px;
   color: gray;
   width: 100%;
   
}

.aboutme
{
  
  padding-right: 60px;
  width: 20%;
  margin-bottom: 25px;
  
}


.pageintro h1 
{
  color: gray;
  padding-bottom: 2px;
  border-bottom: 2px solid rgb(159, 158, 158);
  
}


 .pageintro button
{
    padding: 10px 15px;
    margin: 40px 10px 30px 0px;
    background-color: rgb(179, 113, 165);
    border-radius: 15px ;
    border:solid 2px rgb(190, 189, 189);
    color:rgb(244, 243, 246) ;
    transition: 1s;
}

.pageintro button:hover
{
    padding: 10px 15px;
    margin: 40px 10px 30px 0px;
    background-color: rgb(143, 143, 144);
    border-radius: 15px ;
    border:solid 2px rgb(190, 189, 189);
    color:rgb(244, 243, 246) ;
}

.pageintro button a
{
    text-decoration: none;
    color:rgb(244, 243, 246) ;
}

.page-card
{
    border-radius: 10px;
    border: 2px solid transparent;
    padding: 20px 60px 30px 50px ;
    width: 90%;
    margin: auto;
    margin-top: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(126, 125, 128);
}

/* --------------------------------------------------------------------------- */
.pageintro-proj
{
   padding: 3px 0px 30px 0px;
   color: gray;
   width: 100%;
   
}



 .pageintro-proj button
{
    padding: 10px 15px;
    /* margin: 5px 10px 30px 0px; */
    margin: 5px 0px 15px 15px;
    background-color: rgb(179, 113, 165);
    border-radius: 15px ;
    border:solid 2px rgb(190, 189, 189);
    color:rgb(244, 243, 246) ;
    transition: 1s;
}

.pageintro-proj button:hover
{
    padding: 10px 15px;
    /* margin: 5px 10px 30px 0px; */
    margin: 5px 0px 15px 15px;
    background-color: rgb(143, 143, 144);
    border-radius: 15px ;
    border:solid 2px rgb(190, 189, 189);
    color:rgb(244, 243, 246) ;
}

.pageintro-proj button a
{
    text-decoration: none;
    color:rgb(244, 243, 246) ;
}

.pageintro h1 
{
  color: rgb(143, 143, 144);
  padding-bottom: 2px;
  border-bottom: 2px solid rgb(159, 158, 158);
  
}

.pageintro-proj h1 
{
  color: gray;
  padding-bottom: 2px;
  border-bottom: 2px solid rgb(159, 158, 158);
  
}

.projects h2 
{
    color: rgb(179, 113, 165) ;
}
.projects-second h2 
{
    color: rgb(188, 165, 207) ;
}

.page-card-proj
{
    border-radius: 10px;
    border: 2px solid transparent;
    padding: 20px 60px 30px 60px ;
    width: 90%;
    margin: auto;
    margin-top: 130px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(126, 125, 128);
}

.line1
{
    width: 50%;
    background-color: rgb(194, 194, 194);
    height: 1px;
    padding: 1px 0px;
    margin: auto;
}

.projects
{
    border-radius: 5px;
    padding: 15px 20px 0px 20px;
    margin: 30px 0px 0px 0px;
    transition: 1s;
    /* border: solid 2px transparent; */
     border: solid 2px #d7d7d7;
}

.projects:hover
{
    border-radius: 5px;
    border: solid 2px #d7d7d7;
    transform: scale(1.02);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(126, 125, 128);
}

/* .projects-second
{
    border-radius: 5px;
    padding: 15px 20px 0px 20px;
    margin: 30px 0px 0px 0px;
    border-left: solid 2px #d7d7d7;
    border-right: solid 2px #d7d7d7;
    border-top: solid 2px transparent;
    border-bottom: solid 2px transparent;
    border: solid 2px #d7d7d7;
    transition: 1s;
} */


/* .projects-second:hover 
{
    border-radius: 5px;
    border: solid 2px #d7d7d7;
    transform: scale(1.05);
} */


.textShadow
{
    text-shadow: 3px 3px 3px rgb(192, 192, 192);

}

.projects1
{
    border-radius: 5px;
    padding: 15px 20px 0px 20px;
    margin: 30px 0px 15px 0px;
    transition: 1s;
    /* border: solid 2px transparent; */
     border: solid 2px #d7d7d7;
}

.projects1:hover
{
    border-radius: 5px;
    border: solid 2px #d7d7d7;
    transform: scale(1.01);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(126, 125, 128);
}

/* ----------------------------------------------------------------------------------- */
.secondNav li a
{
    text-decoration: none;
    color: gray;
    transition: 0.5s;
    border: none;
}

.secondNav li a:hover
{
    text-decoration: none;
    color: gray;
    border: none;
}


.secondNav li
{
    text-align: start;
    padding: 25px 0px 0px 0px;
  

}